.content {
    height: auto;
    float: right;
    width: $content-width;
    margin-top: 60px;
}

.page-top {
    width: $content-width;
    position: fixed;
    right: 0;
    z-index: 3;
    background-color: $bg-color;
    height: 60px;
    border-bottom: 1px solid $border-color;
}

.page-top .nav {
    list-style: none;
    padding: 11px 30px;
    float: left;
    font-size: 12px;
    display: block;
    width: calc(100% - 30px);
}

.page-top .nav li {
    position: relative;
    display: initial;
    padding-right: 20px;
}

.page-top .nav a {
    color: $nav-text-color;
}

.page-top .nav a:hover {
    color: #2660ab;
}

.page-top .nav a.current {
    color: $nav-text-color;
    padding-bottom: 22px;
    border-bottom: 1px solid $nav-text-color;
}

.theme-switch-item {
    float: right;
    font-size: 2em;
    margin-top: -5px;
}

.page-top .information {
    float: right;
    padding-top: 12px;
    padding-right: 20px;
}

.page-top .information .avatar {
    float: right;
}

.page-top .information .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 300px;
}

.page-top .information .back_btn {
    float: left;
    padding-top: 5px;
    margin-right: -10px;
}

.page-top .information .back_btn li {
    display: initial;
    padding-right: 40px;
}