@mixin  post_dark {
    .post {
        background-color: $bg-color-dark;
    }
    
    .post .post-title h2 {
        color: $heading-color-dark;
    }
    
    .post .post-title h3 {
        color: $heading-color-dark;
    }
    
    .post .post-title a {
        color: $heading-color-dark;
    }
    
    
    .post .post-footer {
        border-bottom: 1px solid $border-color-dark;
    }
    
    .post .post-footer .meta .info {
        color: $body-color-dark;
    }
    
    .post .post-footer .meta a {
        color: $body-color-dark;
    }
    
    .post .post-footer .tags a {
        color: $post-color-dark;
    }
    
    .post .post-thumbnail img {
        border: 1px solid $border-color-dark;
    }
}

html[data-theme='dark']  {
    @include post_dark()
}