@mixin  sidebar_dark {
    
    .sidebar {
        background-color:$bg-color-dark;
        border-right: 1px solid$border-color-dark;

    }

    .sidebar .logo-title .title a {
        color:$heading-color-dark;
    }

}

html[data-theme='dark']  {
    @include sidebar_dark()
}